*{
        margin:0;
        padding:0;
        box-sizing: border-box;
}
header{

}
h1{
    margin: 100px 0px 20px;
    color: (255, 255, 255);
    text-align: center;
    color: #623486;
}
p {
    color: #0f0e0e;
    width: 50;
}
img{
    background:url("img/about-bg.jpg");
    height: 600px;
    background-position: center;
}
img{
    margin: 20px;
}