*{
        margin:0;
        padding:0;
        box-sizing: border-box;
}
h1{
    margin: 100px 0px 20px;
    color: (255, 255, 255);
    text-align: center;
    color: #623486;
}
p {
    color: #0f0e0e;
    width: 50;
}